html {
    font-family:sans-serif;
    /* 1 */
 font-size:100%;
    -ms-text-size-adjust:100%;
    /* 2 */
 -webkit-text-size-adjust:100%;
    /* 2 */
}
body {
    width:54em;
    background-color:#eeeeee;
    color:#333333;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:0.875em;
    line-height:1.428571429;
    padding-right:15px;
    padding-left:15px;
    margin:0 auto;
}
button,input,select,textarea {
    font-family:inherit;
    font-size:100%;
    margin:0;
}
button,input {
    line-height:normal;
}
button::-moz-focus-inner,input::-moz-focus-inner {
    border:0;
    padding:0;
}
fieldset {
    border:0.0714285em solid #c0c0c0;
    margin:0 0.142857em;
    padding:0.35em 0.625em 0.75em;
}
legend {
    border:0;
    /* 1 */
 padding:0;
    /* 2 */
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
    cursor:pointer;
    -webkit-appearance:button;
}
table {
    border-collapse:collapse;
    border-spacing:0;
    border:0.0714285em solid #ddd;
    border-radius:0.2142855em;
    border-spacing:0;
    -moz-border-radius:0.3571425em;
    -webkit-border-radius:0.3571425em;
}
header {
    display:block;
}
.container {
    position:relative;
    top:0.7142857em;
    width:55em;
    height:24.2em;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
.row {
    margin-right:-15px;
    margin-left:-15px;
}
.col-xs-6.col-sm-4 {
    display:inline-block;
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    float:left;
    width:50%;
    width:33.33333333333333%;
}
.tooltip {
    position:absolute;
    z-index:1030;
    display:block;
    font-size:.75em;
    line-height:1.4;
    filter:alpha(opacity=0);
    visibility:visible;
}
#wtable .tooltip {
    font-size:1.1em;
}
.tooltip.in {
    filter:alpha(opacity=90);
}
.tooltip.top {
    padding:5px 0;
    margin-top:-3px;
}
.tooltip-inner {
    max-width:100px;
    padding:3px 6px;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background-color:#000000;
    border-radius:4px;
}
.tooltip-arrow {
    position:absolute;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
}
.tooltip.top .tooltip-arrow {
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-top-color:#000000;
    border-width:5px 5px 0;
}
.modal {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;
    display:none;
    overflow:auto;
    overflow-y:scroll;
}
.modal-dialog {
    position:relative;
    z-index:1050;
    width:auto;
    margin:10px;
}
.modal-content {
    position:relative;
    background-color:#ffffff;
    border:1px solid #999999;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius:6px;
    outline:none;
    -webkit-box-shadow:0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow:0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip:padding-box;
}
.modal-backdrop {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1030;
    background-color:#000000;
}
.modal-backdrop.fade {
    opacity:0;
    filter:alpha(opacity=0);
}
.modal-backdrop.in {
    opacity:0.5;
    filter:alpha(opacity=50);
}
.modal-header {
    min-height:16.428571429px;
    padding:15px;
    border-bottom:1px solid #e5e5e5;
    border-radius:4px;
    background-color:#d9edf7;
    color:#31708f;
    border-color:#bce8f1;
}
.modal-title {
    margin:0;
    line-height:1.428571429;
}
.modal-body {
    position:relative;
    padding:20px;
}
.modal-footer {
    padding:19px 20px 20px;
    margin-top:15px;
    text-align:right;
    border-top:1px solid #e5e5e5;
}
.fade {
    opacity:1;
    -webkit-transition:opacity 0.15s linear;
    transition:opacity 0.15s linear;
}
/* Glyphicons arrow right*/
@font-face {
    font-family:'Glyphicons Halflings';
    src:url('../fonts/glyphicons-halflings-regular.eot');
    src:url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.glyphicon {
    position:relative;
    top:1px;
    display:inline-block;
    font-family:'Glyphicons Halflings';
    font-style:normal;
    font-weight:normal;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.glyphicon-arrow-right:before {
    content:"\e092";
}
#timetable {
    width:22.58em;
    border:1px solid black;
    border-radius:6px;
    box-shadow:0px 0.0714285em 0.0714285em rgba(255,255,255, .1), inset 0px 0.0714285em 0.0714285em rgb(0,0,0);
    table-layout:fixed;
    background-color:black;
    color:white;
}
#timetable table td {
    border-collapse:collapse;
    border-top:0.0914285em solid white;
    line-height:1.428571429;
    padding:0;
    text-align:center;
    vertical-align:middle;
    width:17%;
    height:100%;
}
.tr {
    height:1.7em;
}
.btn {
    height:1.67em;
    width:100%;
    color:#ffffff;
    background-color:#428bca;
    border-color:#357ebd;
    border-radius:0.2857142em;
}
.modal-footer button {
    width:15%;
}
.btn:hover {
    color:#ffffff;
    background-color:#3276b1;
    border-color:#285e8e;
}
#timetable table td:first-child {
    width:20%;
}
#log {
    display:table-caption;
    position:relative;
    width:100%;
}
.btn.log {
    width:7.524553em;
    color:#ffffff;
    background-color:#f0ad4e;
    border-color:#eea236;
}
.btn.log:hover {
    color:#ffffff;
    background-color:#ed9c28;
    border-color:#d58512;
}
.loginform {
    position:relative;
    width:47%;
    text-align:left;
    display:inline-block;
    padding-left:0.5em;
    line-height:1.428571429;
    color:#555555;
    vertical-align:middle;
    background-color:#ffffff;
    background-image:none;
    border:.0714285em solid #cccccc;
    border-radius:0.286em;
}
.loginform:focus,.regform:focus ,#select:focus {
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5.1px rgba(102, 175, 233, 0.6);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5.1px rgba(102, 175, 233, 0.6);
}
#reginform {
    position:relative;
    width:100%;
}
.regform {
    position:relative;
    display:inline-block;
    width:47.1%;
    font-size:1em;
    height:1.2142857em;
    padding-left:0.5em;
    text-align:left;
    line-height:1.428571429;
    color:#555555;
    vertical-align:middle;
    background-color:#ffffff;
    background-image:none;
    border:1px solid #cccccc;
    border-radius:0.286em;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
}
#timetable th {
    border-bottom:0.0714285em solid white;
    border-collapse:collapse;
    height:2.1428571em;
    line-height:1.428571429;
    padding:0 0 0.1428571em 0px;
    text-align:center;
    vertical-align:bottom;
    width:21.428571em;
    font-size:100%;
}
#date {
    border-bottom:none;
    color:white;
    font-size:0.657em;
    height:1.7857142em;
    left:0.5em;
    line-height:1.228571429;
    margin:0 0 0.57em 0;
    padding-top:0;
    position:relative;
    text-transform:uppercase;
    top:0;
    vertical-align:top;
    width:100%;
}
.table-hover > tbody > tr:hover > td {
    background-color:#736F6E;
}
#book,#cnl {
    width:100%;
    color:#ffffff;
    background-color:#5cb85c;
    border-color:#4cae4c;
}
#book:hover,#cnl:hover {
    color:#ffffff;
    background-color:#47a447;
    border-color:#398439;
}

#calendar{
    position: absolute;
    left: 43.1%;
    top:0;
	
}
#wtable {
    position:absolute;
    top:0;
    left:85%;
    width:8em;
    height:24.1em;
    background-color:black;
    border:1px solid transparent;
    border-radius:6px;
}
#wtable table {
    border:1px solid transparent;
}
#wtable table th {
    color:white;
    height:0.7142857em;
    padding:0.3571428em 0.2142857em 0 0.2142857em;
    font-size:0.7em;
    text-transform:uppercase;
}
#wtable table td {
    border-collapse:collapse;
    line-height:1.428571429;
    padding:0;
    padding:0;
    text-align:center;
}
#select {
    height:8em;
    left:1.1em;
    margin-bottom:146%;
    padding:0;
    position:relative;
    top:2.1428571em;
    width:6.5em;
    line-height:1.428571429;
    vertical-align:middle;
    background-color:#ffffff;
    font-size:.9em;
    border-radius:4px;
}
#wbtn {
    left:3%;
    margin:0;
    position:relative;
    vertical-align:bottom;
}
#sel,#res {
    width:48%;
}
#arr {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.0714285em;
    position:relative;
}
/* Parameters for mobile devices */
 @media (max-width:480px) {
    body {
    font:.7em/.9em "Helvetica Neue",Arial,Helvetica,sans-serif;
    padding-right:0;
    padding-left:0;
}
 .container {
    width:50.6em;
    height:24.6em;
}
 #timetable {
    width:22em;
}
 .loginform {
    width:10.31em;
}
.regform {
    width:46.916%;
}
.btn.log {
    width:33.3%;
}
.tr {
    font:1.02em "Helvetica Neue", Arial,Helvetica,sans-serif;
}
#wtable {
    left:45em;
    height:24.55em;
}
 }
@media screen and (min-width:768px) {
    .modal-dialog {
    width:600px;
    margin:30px auto;
}
 .modal-content {
    -webkit-box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
}
}
