html
{
	font-family: sans-serif;
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}
body
{
	margin: 0;
}
button,
input
{
	line-height: normal;
}
table
{
	border: 1px solid #ddd;
	border-radius: 3px;
	border-spacing: 0;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
}
header
{
	display: block;
}

/* Table #1 - timetable*/
#timetable
{
	position: absolute;
	right: 800px;
	table-layout: fixed;
	top: 10px;
	width: 312px;
}
#timetable table td
{
	border-collapse: collapse;
	border-top: 1px solid white;
	line-height: 1.428571429;
	padding: 0 0 0 0;
	text-align: center;
	vertical-align: middle;
	width: 23%;
}
#timetable table tr td:first-child
{
	width: 31%;
}
#timetable th
{
	border-collapse: collapse;
	border-spacing: 60px;
	border-top: 1px solid black;
	line-height: 1.428571429;
	padding: 0 0 2px 0px;
	text-align: center;
	vertical-align: bottom;
	width: 300px;
}

/* Table #1 - date*/

#date
{
	border-bottom: none;
	color: #B22222;
	font-size: 12px;
	height: 33px;
	left: 35px;
	line-height: 1.428571429;
	margin-bottom: 1px;
	position: relative;
	text-transform: uppercase;
	top: 4px;
	vertical-align: top;
	width: 230px;
}
.tr
{
	background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-repeat: repeat-x;
	border-color: #ccc;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	font-size: 16px;
	height: 24px;
	padding: 0;
	text-shadow: 0 1px 0 #fff;
}
.btn
{
	background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-repeat: repeat-x;
	border-color: #ccc;
	border-color: #dbdbdb;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	font-size: 15px;
	height: 24px;
	padding: 0 0 1px 0;
	position: relative;
	right: 0;
	text-shadow: 0 1px 0 #fff;
	width: 70px;
}
.btn:hover
{
	background-color: #e0e0e0;
	cursor: pointer;
}
#sbt,
#cnl
{
	width: 100%;
}


/* Datepicker */

.ui-datepicker,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th
{
	background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-repeat: repeat-x;
	border-color: #ccc;
	border-spacing: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	margin: 0;
	padding: 0;
	text-shadow: 0 1px 0 #fff;
	width: 100%;
}
.ui-datepicker table
{
	border: none;
	border-spacing: 0;
	color: #565656;
	height: 273px;
	position: relative;
	right: 8px;
	top: 3px;
	width: 310px;
}
.ui-datepicker table th
{
	padding: 5px;
}
.ui-datepicker
{
	background: #F8F8F8;
	border-radius: 3px;
	box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
	cursor: default;
	display: table-row;
	font-family: Tahoma;
	font-size: 14px;
	moz-border-radius: 3px;
	moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
	padding: 0 20px 3px 10px;
	position: absolute;
	right: 451px;
	text-transform: uppercase;
	top: 10px;
	webkit-border-radius: 3px;
	webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
	width: 283px;
}
.ui-datepicker-header
{
	background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-repeat: repeat-x;
	border-color: #ccc;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	margin: 0 13px 0 26px;
	padding: 19px 17px 13px 15px;
	position: relative;
	right: 35px;
	text-shadow: 0 1px 0 #fff;
	top: 2px;
	width: 99%;
}
.ui-datepicker-title
{
	text-align: center;
}
.ui-datepicker-month
{
	padding-right: 15px;
	position: relative;
}
.ui-datepicker-year
{
	padding-left: 8px;
}
.ui-datepicker-month:before
{
	background: #a5cd4e;
	background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
	background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
	background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	border-radius: 5px;
	content: '';
	display: block;
	height: 5px;
	moz-border-radius: 5px;
	position: absolute;
	right: 0;
	top: 5px;
	webkit-border-radius: 5px;
	width: 5px;
}
.ui-datepicker-prev,
.ui-datepicker-next
{
	cursor: pointer;
	padding: 10px;
	position: absolute;
	top: 7px;
}
.ui-datepicker-prev
{
	left: 0;
	padding-left: 13px;
}
.ui-datepicker-next
{
	padding-right: 5px;
	right: 0;
}
.ui-datepicker-prev span,
.ui-datepicker-next span
{
	background-size: cover;
	display: block;
	height: 20px;
	text-indent: -9999px;
	width: 15px;
}
.ui-datepicker-prev span
{
	background-image: url(img/arrowsl.png);
	background-position: 0px 0px;
}
.ui-datepicker-next span
{
	background-image: url(img/arrows.png);
	background-position: -3px 0px;
}
.ui-datepicker-prev-hover span
{
	background-position: 0px 5px;
}
.ui-datepicker-next-hover span
{
	background-position: 0px 5px;
}
.ui-datepicker-calendar th
{
	color: #565656;
	font-weight: normal;
	margin: 0;
	padding-bottom: 5px;
	padding-top: 15px;
	text-align: center;
}
.ui-datepicker-calendar td
{
	line-height: 26px;
	padding: 0 3px;
	text-align: center;
}
.ui-datepicker-calendar .ui-state-default
{
	border: 1px solid transparent;
	color: #565656;
	display: block;
	outline: none;
	text-decoration: none;
	width: 26px;
}
.ui-datepicker-calendar .ui-state-active
{
	border: 1px solid #B22222;
	color: #B22222;
	font-weight: bold;
}
.ui-datepicker-other-month .ui-state-default
{
	color: #a8a8a8;
}
.ui-datepicker-week-end
{
	background-image: none;
	color: #b22222 !important;
}
.ui-datepicker-weekday
{
	background-image: none;
	color: #b22222 !important;
}
.ui-icon-arrow-2-e-w
{
	background-position: -160px -32px;
}

/* Table #2 - weekdays*/

#wtable table
{
	background: #F8F8F8;
	background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-repeat: repeat-x;
	border-collapse: collapse;
	border-color: #ccc;
	border-radius: 3px;
	border-spacing: 0;
	box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
	cursor: default;
	display: table-column-group;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	float: right;
	font-family: Tahoma;
	font-size: 11px;
	height: 324px;
	moz-border-radius: 3px;
	moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
	padding: 0;
	position: absolute;
	right: 260px;
	text-shadow: 0 1px 0 #fff;
	top: 10px;
	webkit-border-radius: 3px;
	webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
	width: 153px;
}
#wtable table th
{
	color: #b22222;
	height: 10px;
	padding: 5px 3px 0 3px;
	text-transform: uppercase;
}
#wtable table td
{
	border-collapse: collapse;
	line-height: 1.428571429;
	padding: 0;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
#select
{
	height: 101px;
	left: 26px;
	margin-bottom: 140px;
	padding: 0;
	position: relative;
	top: 30px;
	width: 100px;
}
#wbtn
{
	left: 6px;
	margin: 0;
	position: relative;
	vertical-align: bottom;
}
#arr
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	position: relative;
}
/* arrow from bootstrap*/
.glyphicon-arrow-right:before
{
	content: "\e092";
}

/* base table for loading page*/

#template
{
	display: table;
	position: absolute;
	right: 1023px;
	table-layout: fixed;
	top: 10px;
	width: 302px;
}
#template td
{
	border-collapse: collapse;
	border-top: 1px solid white;
	line-height: 1.428571429;
	padding: 0 0 0 0px;
	text-align: center;
	vertical-align: top;
}
#template th
{
	border-collapse: collapse;
	border-top: 1px solid white;
	line-height: 1.428571429;
	padding: 0 0 2px 10px;
	text-align: center;
	vertical-align: top;
	width: 300px;
}
