/* Datepicker */

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;	
    padding: 0 10px 20px 10px;	
    border: none;
    border-spacing: 0;
	color: #565656;
	
}


.ui-datepicker {
    display: table-row;	
    width: 294px;	
    padding: 35px;
    cursor: default;

    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 13px; 
    background: #E0EEEE; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
}
.ui-datepicker-header {
    position: relative;
	 padding: 15px 19px 10px 19px;
margin: 0 20px 0 20px;	 
	 
    border-bottom: 1px solid #565656;
	
}

 
.ui-datepicker-title { text-align: center; }
 
.ui-datepicker-month {
    position: relative;
    padding-right: 15px;  
 	
}
 
.ui-datepicker-year {
    padding-left: 8px;
    
}
.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';
 
    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 15px; 
	
    cursor: pointer;
}
 
.ui-datepicker-prev {
    left: 0;
    padding-left:0;
}
 
.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}
 
.ui-datepicker-prev span,
.ui-datepicker-next span{
    display: block;
    width: 15px;
    height: 20px;
    text-indent: -9999px;
  
  background-size: cover;
}
 
.ui-datepicker-prev span { background-image: url(img/arrowsl.png); background-position: 0px 0px; }
 
.ui-datepicker-next span { background-image: url(img/arrows.png); background-position: -3px 0px; }
 
.ui-datepicker-prev-hover span { background-position: 0px 5px; }
 
.ui-datepicker-next-hover span { background-position: -5px 5px; }
.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;
 
    text-align: center;
    font-weight: normal;
    color: #565656;
}
.ui-datepicker-calendar td {
    padding: 0 7px;
 
    text-align: center;
    line-height: 26px;
}
 
.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 26px;
    outline: none;
 
    text-decoration: none;
    
 color: #565656;
    border: 1px solid transparent;
}
.ui-datepicker-calendar .ui-state-active {
font-weight: bold;
    color: #B22222;
    border: 1px solid #B22222;
}
 
.ui-datepicker-other-month .ui-state-default { color: #a8a8a8; }

/* The header of Table # 1*/

#date {
margin:5px;
font-size: 13px;
text-transform: uppercase;
border-bottom: none;
color: #B22222;    
}
 
 /* The Table # 1*/
#book
{
position: absolute;
float: left;
border-collapse: collapse;
float: right;
right: 740px;
top: 1px;
width: 234px;	
    padding: 15px;
    cursor: default;

    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 13px; 
    background: #E0EEEE; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);	
   
}
td{
height: 10px;
border: none;
padding:1px 1px 1px 10px;
}
#tr{
background-color: #F8F8FF;
}

/* The both forms */
form {
float: right;
position: absolute;
right: 10px;
top: 8px;
width: 600px;
height: 40px;
}

/* The list of hours */
#time {
float: right;
position: relative;
top: -15px;
right: 35px;
}

